body{
    background-color: #464355;
    word-wrap: break-word;
    color: rgb(143, 228, 140);
}
#default_div{
    width: 8in;
    margin-left: 8%;
    word-wrap: break-word;

}
 #footer{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height:auto;
    background-color: #36343d;
    flex-direction: column;
}